@import '../../../../../public/css/variables.scss';
.tableHolder{
	background-color: #F8FAFC;
	padding: 1rem;

}
.content {
	.panelHeader{
		padding: 1rem;
		cursor: pointer;
	}
	:global(.panel){
		border-radius:0;
		border: none;;
		background-color: transparent;
		margin-bottom: 0;
	}
	.borderBottom{
		border-bottom: none;
	}
	.icon{
		width: 3rem;
		height: 3rem;
		display: inline-block;
		img{
			width: 100%;
		}
	}
	.rowId{
		margin-left: 2rem;
		display: inline-block;
	}
	.active{
		text-decoration: underline;
		color: $app_blue;
	}
	.state{
		text-transform: capitalize;
	}
	.statusBox{
		display: block;
		width: 5rem;
		height: 3rem;
		border: solid 0.2rem $app_dark_grey;
	}
	.pending{
		background-color: $app_light_grey;
	}
	.running{
		background-color: $app_blue;
	}
	.failed{
		background-color: $app_red;
	}
	.complete{
		background-color: $app_green;
	}
	.hide{
		display: none;
	}
	.stateColorGrey{
		background: -moz-linear-gradient(left,  rgba(248,250,252,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(248,250,252,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(248,250,252,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$pending_bg, endColorstr=$app_white,GradientType=1 ); /* IE6-9 */
		border: solid 0.2rem $app_dark_grey;
    	margin-top: 1rem;
		span{
			color: $app_dark_grey;
			opacity: 5;
		}
		
	}
	.stateColorBlue{
		background: -moz-linear-gradient(left,  rgba(248,250,252,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(248,250,252,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(248,250,252,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$running_bg, endColorstr=$app_white,GradientType=1 ); /* IE6-9 */

		border: solid 0.2rem $app_blue;
	    margin-top: 1rem;
		color: $app_blue;
	}
	.stateColorRed{
		background: -moz-linear-gradient(left,  rgba(253,248,248,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(253,248,248,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(253,248,248,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$rejected_bg, endColorstr=$app_white,GradientType=1 ); /* IE6-9 */

		border: solid 0.2rem $app_red;
	    margin-top: 1rem;
		color: $app_red;
	}
	.stateColorGreen{
		background: -moz-linear-gradient(left,  rgba(248,250,248,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(248,250,248,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(248,250,248,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$complete_bg, endColorstr=$app_white,GradientType=1 ); /* IE6-9 */
		border: solid 0.2rem $app_green;
	    margin-top: 1rem;
		color: $app_green;
	}
}